[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=text/html;
Exec=env WINEPREFIX="/home/alpuds/.local/share/wineprefixes/touhou6" wine start /ProgIDOpen htmlfile %f
NoDisplay=true
StartupNotify=true
Icon=81F5_winebrowser.0
